body
{
	padding-top:50px;
	background-color:#c3c3c3;
}
#contenido
{
	padding-top: 10px;
}
#myCarousel 
{
	position: relative;
	top: -20px;
}
#myCarousel .carousel-inner .item img
{
	width:100%;
}
#footer_div{
    padding-right: 0px; 
    padding-left: 0px; 
}
.footer{
    background-color: #1A2112;
}
#copy-rigth a{
    text-decoration: none;
    color: #FFF;
}
#copy-rigth img {
    width: 50px;
}
#copy-rigth {
    text-align: center;
    font-size: 19px;
}
footer {
    color: #C5C5C5;
    padding-bottom: 20px;
}